importFrom("graphics", "abline", "axis", "contour", "grconvertX", "grconvertY", "layout", "legend", "mtext", "par", "plot", "points", "rect", "text")
importFrom("stats", "optimize", "rpois", "runif")
importFrom("utils", "combn", "head", "read.table", "write.table")
importFrom("kinship2", "kinship", "pedigree", "plot.pedigree")
importFrom("maxLik", "maxLik")
importFrom("assertthat", "assert_that", "on_failure<-")

exportPattern("^[[:alpha:]]+")

S3method(all.equal, linkdat)
S3method(as.data.frame, linkdat)
S3method(as.data.frame, linkres)
S3method(as.matrix, linkdat)
S3method(likelihood, linkdat)
S3method(likelihood, list)
S3method(likelihood, singleton)
S3method(plot, linkdat)
S3method(plot, linkres)
S3method(plot, singleton)
S3method(print, linkdat)
S3method(print, linkdat.model)
S3method(print, linkres)
S3method(subset, linkdat)
S3method(summary, linkdat)
S3method(summary, linkres)
S3method(summary, powres)
